<main>
  <h1>Ajout d'un article</h1>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Nom</div>
      <input type="text" appAutofocus formControlName="name" />
      <div class="error" >
        <span *ngIf="f.controls.name.invalid && f.controls.name.touched">Oups... ce champ est requis.</span>
      </div>
    </label>
    <label>
      <div>Prix</div>
      <input type="number" step="0.01" min="0" formControlName="price" />
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" formControlName="qty" step="1" min="0" />
    </label>
    <button type="submit" [disabled]="f.invalid" class="primary">Créer</button>
  </form>
</main>
<!-- {{ f.value | json }} -->
