<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Rafraichir</button>
    <button routerLink="/stock/new">Ajouter</button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th class="name" scope="row">Nom</th>
        <th class="price" scope="row">Prix</th>
        <th class="qty" scope="row">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.30€</td>
        <td class="qty">234</td>
      </tr>
      <tr>
        <td class="name">Tournevis cruciforme</td>
        <td class="price">12.30€</td>
        <td class="qty">234</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.30€</td>
        <td class="qty">34</td>
      </tr>
      <tr>
        <td class="name">Tournevis</td>
        <td class="price">2.30€</td>
        <td class="qty">234</td>
      </tr>
    </tbody>
  </table>
</main>
