<main>
  <h1>Liste des articles</h1>
  <nav>
    <button>Rafraichir</button>
    <button routerLink="/stock/new">Ajouter</button>
    <button *ngIf="selectedArticles.length > 0" (click)="remove()">Supprimer</button>
  </nav>
  <table>
    <caption>
      Liste des articles
    </caption>
    <thead>
      <tr>
        <th class="name" scope="row">Nom</th>
        <th class="price" scope="row">Prix</th>
        <th class="qty" scope="row">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let a of articleService.articles"
        (click)="toggle(a)"
        [class.selected]="selectedArticles.includes(a)"
      >
        <td class="name" title="{{ a.name }}">{{ a.name | ellipsis: 15 }}</td>
        <td class="price">{{ a.price | currency }}</td>
        <td class="qty">{{ a.qty }}</td>
      </tr>
    </tbody>
  </table>
</main>
